parameters:
    app_name:          syrup-development-bundle

    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    uploader.aws-access-key: AKIAJJKM4R26QUNBFPTA
    uploader.aws-secret-key: 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
    uploader.s3-upload-path: keboola-logs/debug-files
    uploader.bitly-login:    petrsimecek
    uploader.bitly-api-key:  R_35ed95e18188c58f7b42787f358857ea

    storage_api.test.token:
    shared_sapi.token:

    components:
        ex-dummy:
            class:  Syrup\ComponentBundle\Component\DummyExtractor
